<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwp.demo.mapper.DemoMapper">
    <resultMap id="BaseResultMap" type="com.mwp.demo.pojo.UserInfo">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,sex,password
    </sql>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_name = #{userName}
    </select>

    <insert id="insert" parameterType="java.lang.String" >
        insert into user (id,user_name,sex,password)
        values (#{id,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
    </insert>
</mapper>